<ion-header>
    <ion-toolbar>
      <ion-title>Botones</ion-title>
        <ion-buttons slot="start">
          <ion-back-button defaultHref="home"></ion-back-button>
        </ion-buttons>
      </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">
        
    <ion-button href="/home"
    color="danger"
    size="small"
    slot="start">
    <ion-icon  name="home"></ion-icon>
    </ion-button>

  <p>
    Este botón rojo sirve para ir al HOME y a su vez es un icono.
  </p>

  <p>
    También los podemos tener de diferentes tamaños:
  </p>

  <ion-button size="large">Grande</ion-button>
<ion-button>Mediano</ion-button>
<ion-button size="small">Pequeño</ion-button>

<p>
    Como también de diferentes colores:
  </p>

  <ion-button color="primary">Azul</ion-button>
  <ion-button color="secondary">Azul claro</ion-button>
  <ion-button color="tertiary">Morado</ion-button>
<ion-button color="success">Verde</ion-button>
<ion-button color="warning">Naranja</ion-button>
<ion-button color="danger">Rojo</ion-button>
<ion-button color="light">Blanco</ion-button>
<ion-button color="medium">Gris</ion-button>
<ion-button color="dark">Negro</ion-button>

<p>
  También podemos poner los botones de diferentes formas:
</p>

<ion-button expand="full">A tooooooodo lo ancho</ion-button>
<ion-button expand="block">Redondeado</ion-button>
<ion-button shape="round">Y más redondeado aun</ion-button>


  </div>

</ion-content>
