<ion-header>
    <ion-title>Iconos</ion-title>
    <ion-buttons slot="start">
      <ion-back-button defaultHref="home"></ion-back-button>
    </ion-buttons>
  </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">

    <ion-button href="/home"
      color="danger"
      size="small"
      slot="start">
      <ion-icon  name="home"></ion-icon>
    </ion-button>

<p>
  En esta página encontraremos iconos de todo tipos.
</p>

<p>
  Iconos de DEPORTES:
</p>

<ion-icon name="american-football" size="large"></ion-icon>
<ion-icon name="baseball" size="large"></ion-icon>
<ion-icon name="bicycle" size="large"></ion-icon>
<ion-icon name="tennisball" size="large"></ion-icon>

<p>
  También le podemos cambiar los colores al igual que los botones:
</p>

<ion-icon name="checkmark" size="large" color="success"></ion-icon>
<ion-icon name="close" size="large" color="danger"></ion-icon>

<p>
  Al igual que también podemos modificar los tamaños de los iconos:
</p>


<ion-icon name="walk"></ion-icon>
<ion-icon name="walk" size="small"></ion-icon>
<ion-icon name="walk" size="large"></ion-icon>

<p>
  Existen también alta variedad de logos:
</p>

<ion-icon name="logo-android" size="large" color="success"></ion-icon>
<ion-icon name="logo-angular" size="large" color="danger"></ion-icon>
<ion-icon name="logo-github" size="large" color="dark"></ion-icon>
<ion-icon name="logo-twitter" size="large" color="primary"></ion-icon>
<ion-icon name="logo-whatsapp" size="large" color="success"></ion-icon>


<br>
<br>
<p>
  Y muchos más que tenemos dentro de la <a href="https://ionicons.com/">documentación</a> de iconos de ionic.
</p>

    </div>

</ion-content>
