<ion-header>
  <ion-toolbar text-center>
    <ion-title>
      Catálogo de Ionic
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content>
  <div class="ion-padding"> 
    <ion-button href="/test-page"
    size="large" 
    expand="full">
      Botones
    </ion-button>

    <ion-button href="/iconos"
    size="large" 
    expand="full"
    color="secondary">
      Iconos
    </ion-button>

    <ion-button href="/textos"
    size="large" 
    expand="full"
    color="tertiary">
      Entradas de texto
    </ion-button>

    <ion-button href="/botones-flotantes"
    size="large" 
    expand="full"
    color="success">
      Botones fab
    </ion-button>

    <ion-button href="/tabs"
    size="large" 
    expand="full"
    color="warning">
      Tabs
    </ion-button>

    <ion-button href="/slides"
    size="large" 
    expand="full"
    color="danger">
      Slides
    </ion-button>

  </div>
</ion-content>
