<ion-header>
    <ion-toolbar>
        <ion-title>Slides</ion-title>
          <ion-buttons slot="start">
            <ion-back-button defaultHref="home"></ion-back-button>
          </ion-buttons>
        </ion-toolbar>
</ion-header>

<ion-content>
    <div class="ion-padding">

      <p>
        Esto es perfecto para deslizar imagenes de forma horizontal.
      </p>

      <ion-slides pager="true">

          <ion-slide>
            <h1>Foto 1</h1>
          </ion-slide>
      
          <ion-slide>
            <h1>Foto 2</h1>
          </ion-slide>
      
          <ion-slide>
            <h1>Foto 3</h1>
          </ion-slide>
        </ion-slides>

    </div>
</ion-content>
